@charset "UTF-8";
/* CSS Document */

body {
	font-family: "Montserrat", sans-serif;
	color: black;
	margin: none;
	padding: none;
}

#style-container {
	display: flex;
	margin: 50px;
	/*width: 100vw;*/
	flex-wrap: wrap;
	justify-content: center;
}

.style {
	margin: 0px 20px 30px;
}

.img-container {
    width: 200px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #f7f7f7;
}


.img-style {
    width: 200px;
    height: 260px;
    object-fit: contain;
}

.info {
	width: 200px;
}

.info-desc {
	margin: 10px 5px 0px;
	height: 45px;
}

.info-desc, .info-price{
    font-size: 12px;
	text-align: center;
}

.info-price {
	font-weight: 600;
}

.button {
	width: 200px;
	background-color: #000;
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor: pointer
}


@media only screen and (max-width: 900px) {
	
	#style-container {
		margin: 20px;
	}
	
	.style {
		margin: 0px 10px 20px;
	}
	
	.img-container {
        width: 150px;
        height: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
    }
	
    .info {
        width: 150px;
    }
	
	.info-desc {
		margin: 10px 5px 0px;
		height: 53px;
	}

    .info-desc, .info-price{
        font-size: 12px;
        text-align: center;
    }
	
	.button {
        width: 150px;
        padding: 10px 0px;
        font-size: 10px;
	}

    .img-style {
        width: 150px;
        height: 210px;
        object-fit: contain;
    }
	
}

@media only screen and (max-width: 400px) {
	
	.info-desc {
		height: 60px;
	}
}